/*generals*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f6f8fa;
}

/*intestazione*/

.intestazione{
    padding-left: 15px;
    line-height: 65px;
    background-color: white;
    height: 65px;
    font-size: 36px;
    font-weight: 700;
}
#logobanner{
    vertical-align: middle;
}

/*container principale*/

.container{
    padding: 20px 50px;
    background-color: white;
    width: 80%;
    height: 1280px;
    margin: 65px auto;
    
}
#separatore{
    margin-top: 15px;
    background-color: #f6f8fa;
    height: 2px;
    width: 100%;
    padding: 0;
}

/*regole bottoni*/

.addbuttons{
    border-radius: 5px;
    height: 2em;
    width: 6em;
    line-height: 2em;
    text-align: center;
    background: #45adf2;
    font-size: 12px;
    color: white;
    display: inline-block;
}
#notselected{
    width: 7em;
    color: #d5d5d8;
    background-color: white;
    border: .5px solid #d5d5d8;
}

/*regole sezioni*/

.section{
    margin: 40px 0;
}
.divmargin{
    margin-bottom: 14px;
}
h3{
    margin-bottom: 10px;
}
.checkmark{
    margin-right: 5px;
    font-size: 11px;
    border-radius: 50%;
    border: 0.5px solid green;
    color: green;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}
.xmark{
    border: 0.5px solid red;
    color: red;
}

/*roundedbox con "editorial" come reference*/

.roundedbox{
    color: white;
    background: #45adf2;
    height: 2em;
    width: 6em;
    font-size: 12px;
    border-radius: 10px;
    line-height: 2em;
    text-align: center;
    display: inline-block;
}

/*colori roundedbox*/

.goals{
    background: #9874df;
}
.recruiting{
    background: #65bfa9;
}
.mobile{
    background: #f09f2d;
    width: 5em;
}
.website{
   background: #d564a4; 
   width: 5em;
}
.sales{
    background: #adc723;
    width: 4.5em;
}
